In [1]:
from sklearn.linear_model import LogisticRegression as LR
import numpy as np
import pandas as pd

In [2]:
from IPython.display import Image
Image(url= "https://static1.squarespace.com/static/5006453fe4b09ef2252ba068/5095eabce4b06cb305058603/5095eabce4b02d37bef4c24c/1352002236895/100_anniversary_titanic_sinking_by_esai8mellows-d4xbme8.jpg")

In [3]:
data = pd.read_csv("titanic_train.csv")

In [4]:
data.head(5)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

In [5]:
def Sex(string):
    if string == "male":
        return 0
    else:
        return 1

In [6]:
def Age(age):
    age = str(age)
    if age != "nan":
        return int(float(age))
    else:
        return 0

In [7]:
def Cabin(cabin):
    cabin = str(cabin)
    if cabin != "nan":
        return 1
    else:
        return 0

In [8]:
def Embarked(emb):
    emb = str(emb)
    if emb == "C":
        return 1
    elif emb == "Q":
        return 2
    elif emb == "S":
        return 3
    else:
        return 0

In [9]:
def change_dtype(datatype):
    datatype = str(datatype)
    if datatype != "nan":
        return int(float(datatype))
    else:
        return 0

In [10]:
new_data = pd.DataFrame()
new_data["Age"] = data["Age"].apply(Age)
new_data["Sex"] = data["Sex"].apply(Sex)
new_data["SibSp"] = data["SibSp"].apply(change_dtype)
new_data["Parch"] = data["Parch"].apply(change_dtype)
new_data["Fare"] = data["Fare"].apply(change_dtype)
new_data["Cabin"] = data["Cabin"].apply(Cabin)
new_data["Embarked"] = data["Embarked"].apply(Embarked)
new_data["Age_Age"] = new_data["Age"]*new_data["Age"]
new_data["Cabin_Embarked"] = new_data["Cabin"]*new_data["Embarked"]

In [11]:
new_data.head(5)

   Age  Sex  SibSp  Parch  Fare  Cabin  Embarked  Age_Age  Cabin_Embarked
0   29    1      1      0    26      0         3      841               0
1    0    0      0      0     8      0         3        0               0
2   39    0      0      0    26      0         3     1521               0
3   29    1      0      4    21      0         3      841               0
4   25    0      0      0     7      0         3      625               0

In [12]:
x_train = np.array(new_data)
y_train = np.array(data["Survived"])

In [13]:
model = LR()
model.fit(x_train, y_train)

C:\Users\DAVKAUR\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [14]:
model.score(x_train, y_train)

0.7889221556886228

In [15]:
test_data = pd.read_csv("titanic_test.csv")

In [16]:
x_test = pd.DataFrame()
x_test["Age"] = test_data["Age"].apply(Age)
x_test["Sex"] = test_data["Sex"].apply(Sex)
x_test["SibSp"] = test_data["SibSp"].apply(change_dtype)
x_test["Parch"] = test_data["Parch"].apply(change_dtype)
x_test["Fare"] = test_data["Fare"].apply(change_dtype)
x_test["Cabin"] = test_data["Cabin"].apply(Cabin)
x_test["Embarked"] = test_data["Embarked"].apply(Embarked)
x_test["Age_Age"] = x_test["Age"]*x_test["Age"]
#x_test["Sex_SibSp"] = x_test["Sex"]*x_test["SibSp"]
#x_test["Sex_Parch"] = x_test["Sex"]*x_test["Parch"]
#x_test["SibSp_Parch"] = x_test["SibSp"]*x_test["Parch"]
x_test["Cabin_Embarked"] = x_test["Cabin"]*x_test["Embarked"]

In [17]:
x_test_array = np.array(x_test)
y_predict = model.predict(x_test_array)
model.score(x_train, y_train)

0.7889221556886228

In [18]:
model.predict_proba(x_test_array)

array([[0.86477267, 0.13522733],
       [0.11628587, 0.88371413],
       [0.74311895, 0.25688105],
       [0.46854798, 0.53145202],
       [0.54846982, 0.45153018],
       [0.82027225, 0.17972775],
       [0.82777342, 0.17222658],
       [0.74311895, 0.25688105],
       [0.2947498 , 0.7052502 ],
       [0.8180484 , 0.1819516 ],
       [0.16291134, 0.83708866],
       [0.81880047, 0.18119953],
       [0.05811986, 0.94188014],
       [0.30480711, 0.69519289],
       [0.71075563, 0.28924437],
       [0.87229694, 0.12770306],
       [0.83463356, 0.16536644],
       [0.87732491, 0.12267509],
       [0.83670052, 0.16329948],
       [0.21192454, 0.78807546],
       [0.23598778, 0.76401222],
       [0.78754786, 0.21245214],
       [0.13873511, 0.86126489],
       [0.38162275, 0.61837725],
       [0.81880047, 0.18119953],
       [0.46024292, 0.53975708],
       [0.84385585, 0.15614415],
       [0.8817734 , 0.1182266 ],
       [0.24520931, 0.75479069],
       [0.40014465, 0.59985535],
       [0.83395408, 0.16604592],
       [0.98276566, 0.01723434],
       [0.84262882, 0.15737118],
       [0.85136868, 0.14863132],
       [0.87295173, 0.12704827],
       [0.24280316, 0.75719684],
       [0.30381692, 0.69618308],
       [0.81516017, 0.18483983],
       [0.84584591, 0.15415409],
       [0.59847675, 0.40152325],
       [0.19677943, 0.80322057],
       [0.83670052, 0.16329948],
       [0.83604581, 0.16395419],
       [0.84584591, 0.15415409],
       [0.29941378, 0.70058622],
       [0.48070878, 0.51929122],
       [0.88613273, 0.11386727],
       [0.19677943, 0.80322057],
       [0.74375661, 0.25624339],
       [0.67967563, 0.32032437],
       [0.78061088, 0.21938912],
       [0.21254433, 0.78745567],
       [0.09898902, 0.90101098],
       [0.19868532, 0.80131468],
       [0.86015154, 0.13984846],
       [0.89807901, 0.10192099],
       [0.68234684, 0.31765316],
       [0.85575879, 0.14424121],
       [0.8901989 , 0.1098011 ],
       [0.7293677 , 0.2706323 ],
       [0.82962078, 0.17037922],
       [0.61948031, 0.38051969],
       [0.30661385, 0.69338615],
       [0.19677943, 0.80322057],
       [0.09156728, 0.90843272],
       [0.89611435, 0.10388565],
       [0.80805411, 0.19194589],
       [0.61166083, 0.38833917],
       [0.07941394, 0.92058606],
       [0.64926981, 0.35073019],
       [0.83400844, 0.16599156],
       [0.84751321, 0.15248679],
       [0.43895644, 0.56104356],
       [0.84620054, 0.15379946],
       [0.85209719, 0.14790281],
       [0.04574174, 0.95425826],
       [0.24729391, 0.75270609],
       [0.76305248, 0.23694752],
       [0.62586741, 0.37413259],
       [0.89050008, 0.10949992],
       [0.89282578, 0.10717422],
       [0.10221927, 0.89778073],
       [0.92188263, 0.07811737],
       [0.66575061, 0.33424939],
       [0.83568583, 0.16431417],
       [0.2702887 , 0.7297113 ],
       [0.47430369, 0.52569631],
       [0.52452628, 0.47547372],
       [0.83670052, 0.16329948],
       [0.81880047, 0.18119953],
       [0.27676863, 0.72323137],
       [0.89909242, 0.10090758],
       [0.85095858, 0.14904142],
       [0.30949298, 0.69050702],
       [0.74311895, 0.25688105],
       [0.67823831, 0.32176169],
       [0.87881193, 0.12118807],
       [0.57597577, 0.42402423],
       [0.93701447, 0.06298553],
       [0.06995555, 0.93004445],
       [0.19677943, 0.80322057],
       [0.81729392, 0.18270608],
       [0.05511594, 0.94488406],
       [0.96248209, 0.03751791],
       [0.27691562, 0.72308438],
       [0.05691299, 0.94308701],
       [0.91609388, 0.08390612],
       [0.8543389 , 0.1456611 ],
       [0.98276566, 0.01723434],
       [0.83600787, 0.16399213],
       [0.83150947, 0.16849053],
       [0.10664775, 0.89335225],
       [0.38048858, 0.61951142],
       [0.59698922, 0.40301078],
       [0.37317006, 0.62682994],
       [0.89255932, 0.10744068],
       [0.88582066, 0.11417934],
       [0.19677943, 0.80322057],
       [0.89030287, 0.10969713],
       [0.81880047, 0.18119953],
       [0.87562711, 0.12437289],
       [0.81880047, 0.18119953],
       [0.85454226, 0.14545774],
       [0.83673833, 0.16326167],
       [0.62242315, 0.37757685],
       [0.915566  , 0.084434  ],
       [0.91636704, 0.08363296],
       [0.90649677, 0.09350323],
       [0.96316101, 0.03683899],
       [0.46024292, 0.53975708],
       [0.87355701, 0.12644299],
       [0.83330664, 0.16669336],
       [0.76263414, 0.23736586],
       [0.83761067, 0.16238933],
       [0.84614717, 0.15385283],
       [0.81880047, 0.18119953],
       [0.24429832, 0.75570168],
       [0.46653492, 0.53346508],
       [0.2947498 , 0.7052502 ],
       [0.62542678, 0.37457322],
       [0.64936392, 0.35063608],
       [0.84262882, 0.15737118],
       [0.56193603, 0.43806397],
       [0.87204916, 0.12795084],
       [0.7645684 , 0.2354316 ],
       [0.83820913, 0.16179087],
       [0.8320282 , 0.1679718 ],
       [0.85639554, 0.14360446],
       [0.19677943, 0.80322057],
       [0.11195057, 0.88804943],
       [0.01605361, 0.98394639],
       [0.83060888, 0.16939112],
       [0.6279513 , 0.3720487 ],
       [0.83957707, 0.16042293],
       [0.27396053, 0.72603947],
       [0.69219203, 0.30780797],
       [0.64584957, 0.35415043],
       [0.34299241, 0.65700759],
       [0.8320282 , 0.1679718 ],
       [0.88779832, 0.11220168],
       [0.8180484 , 0.1819516 ],
       [0.31002462, 0.68997538],
       [0.41764685, 0.58235315],
       [0.19677943, 0.80322057],
       [0.0754414 , 0.9245586 ],
       [0.83533087, 0.16466913],
       [0.79102478, 0.20897522],
       [0.81880047, 0.18119953],
       [0.42791387, 0.57208613],
       [0.24978539, 0.75021461],
       [0.31180195, 0.68819805],
       [0.42738138, 0.57261862],
       [0.31456977, 0.68543023],
       [0.6707977 , 0.3292023 ],
       [0.08509461, 0.91490539],
       [0.83670052, 0.16329948],
       [0.88034435, 0.11965565],
       [0.82962078, 0.17037922],
       [0.79241302, 0.20758698],
       [0.32880577, 0.67119423],
       [0.84421734, 0.15578266],
       [0.64936392, 0.35063608],
       [0.9620972 , 0.0379028 ],
       [0.17218868, 0.82781132],
       [0.18154261, 0.81845739],
       [0.87002156, 0.12997844],
       [0.32481948, 0.67518052],
       [0.69747682, 0.30252318],
       [0.06288834, 0.93711166],
       [0.85273385, 0.14726615],
       [0.83260248, 0.16739752],
       [0.8792588 , 0.1207412 ],
       [0.14596208, 0.85403792],
       [0.8180484 , 0.1819516 ],
       [0.86402921, 0.13597079],
       [0.31198199, 0.68801801],
       [0.07073655, 0.92926345],
       [0.34383362, 0.65616638],
       [0.36707543, 0.63292457],
       [0.06762132, 0.93237868],
       [0.48794405, 0.51205595],
       [0.51318747, 0.48681253],
       [0.83670052, 0.16329948],
       [0.58256984, 0.41743016],
       [0.74311895, 0.25688105],
       [0.85387068, 0.14612932],
       [0.81879827, 0.18120173],
       [0.84262882, 0.15737118],
       [0.11025914, 0.88974086],
       [0.55623737, 0.44376263],
       [0.76511762, 0.23488238],
       [0.30260819, 0.69739181],
       [0.83698084, 0.16301916],
       [0.63412148, 0.36587852],
       [0.28834792, 0.71165208],
       [0.07294372, 0.92705628],
       [0.83463356, 0.16536644],
       [0.8180484 , 0.1819516 ],
       [0.87347972, 0.12652028],
       [0.58761322, 0.41238678],
       [0.06530226, 0.93469774],
       [0.87467078, 0.12532922],
       [0.6227598 , 0.3772402 ]])

In [19]:
np.savetxt("titanic_prediction.csv", y_predict, fmt = ("%.0f"))